body{
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   
    
}

h1{
    text-align: center;
    margin: 0 auto;
    width: 50%;

}


.grid-gamer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
}

.grid-gamer img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.texto-centro{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
}

.contenedor-noticias{
    
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.noticia{
    width: 300px;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.noticia img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
footer{
    background-color: rgb(7, 17, 63);
    padding: 20px;
    text-align: center;
}

.footer-contenido a{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-decoration: none;
    background-color: rgb(237, 245, 218);
    padding: 10px 15px;
    border-radius: 5px;
}

.footer-contenido a:hover{
    background-color: blue;
}

.contenedor-juegos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.juego{
    width: 250px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.juego img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-contacto h2{
    color: black;
}

.info-contacto p{
    color: black;
}

.info-contacto{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px;
}

.formulario{
    width: 40%;
    margin: 5% auto;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

input, textarea, select{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

button{
    background-color: blue;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.redes{
    text-align: center;
    color: rgb(29, 11, 11);
    margin-top: 20px;
}

.ubicacion{
    width: 50%;
    margin: auto;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}
section{
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
main{
    flex: 1;
    width: 80%;
    margin: 40px auto;
}

