body{
    background: #0c0c0c;
    background: radial-gradient(circle, rgb(9, 9, 9) 0%, rgb(60, 61, 60) 100%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    text-shadow: 1px 1px 2px rgb(98, 255, 0),
    0 0 10px rgb(210, 252, 1),
    0 0 20px rgb(255, 0, 0);

}
h2{
    font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    text-shadow: 1px 2px 2px rgb(0, 34, 255),
    0 0 10px rgb(0, 30, 255),
    0 0 30px rgb(174, 255, 0);

}
a:link{
    color: rgb(21, 0, 255);
}
a:visited{
    color: rgb(0, 169, 236);
}
a:hover{
    color: rgb(43, 255, 0);
}
a:active{
    color: rgb(255, 149, 0);
}

.grid-gamer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
}

.grid-gamer img{
    width: 100%;
    height: 200px;
}


.texto-centro{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    color: white;
    background-color: rgba(70, 68, 68, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.contenedor-noticias{

    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.noticia{
    width: 300px;
    background-color:  rgba(70, 68, 68, 0.6);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.noticia img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
footer{
    background-color: rgb(63, 62, 62);
    color: azure;
    padding: 20px;
    text-align: center;
}
header{
    background-color:  rgba(70, 68, 68, 0.6);
    background-image: url(https://r1.community.samsung.com/t5/image/serverpage/image-id/5913924iA6801E11932992A0/image-size/large?v=v2&px=999);
    color: aliceblue;
    height: 400px;
    opacity: 10;
    background-size: 800px;
    padding: 25px;
    text-align: center;
}
.nav ul{
    
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav a{
    color: rgb(19, 18, 18);
    margin: 10px;
    text-decoration: none;
    background-color: rgb(238, 235, 235);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3;
}

.nav a:hover{
    background-color: blue;
}

.contenedor-juegos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.juego{
    width: 250px;
    text-align: center;
    background-color: rgba(80, 78, 78, 0.6);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.juego img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-contacto h2{
    color: black;
}

.info-contacto p{
    color: black;
}

.info-contacto{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px;
}

.formulario{
    width: 40%;
    margin: 5% auto;
    background-color: rgba(81, 80, 80, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.registro{
    width: 40%;
    margin: 5% auto;
    background-color: rgba(83, 76, 76, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255); 
}
input, textarea, select{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

button{
    background-color: blue;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.redes{
    text-align: center;
    color: rgb(29, 11, 11);
    margin-top: 20px;
}

.ubicacion{
    width: 50%;
    margin: auto;
    background-color: rgba(74, 71, 71, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}
section{
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}

main{
    flex: 1;
    width: 80%;
    margin: 40px auto;
}
table{
    background-color: rgb(130, 130, 130);
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid beige;
    padding: 8px;
}
th{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 173);
}
tr:hover{
    background-color: rgb(38, 38, 221);
    cursor: pointer;
}
tr:nth-child(even){
    background-color: rgb(220, 243, 8);
}
tr:hover{
    background-color: rgb(221, 221, 225);
    cursor: pointer;
}
.historia{
    text-align: center;
}

